* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#discounterContainer {
  max-width: 250px;
}

button {
  margin: 16px 0px;
  padding: 2px;
}

p {
  display: inline-block;
  min-height: 64px;
}

#dates, #modes {
  margin-top: 16px;
}

#modes {
  display: flex;
  justify-content: space-between;
}

#dates {
  display: flex;
  flex-wrap: wrap;
}

#dates * {
  width: 50%;
  box-sizing: border-box;
}